@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


html{
    font-size: 25px;
}
body{
    background: rgba(53, 191, 255, 0.596);
    font-family: 'Amatic SC', cursive;
}

h1{
    font-size: 2.25rem;
    font-family: 'Amatic SC', cursive;
}

.cardtodos {
    width: 25rem !important;
}

.list-group-item:hover {
    background-color: rgb(59, 211, 135);  
}

.btn {
    visibility: hidden;
}

.list-group-item:hover :nth-child(1) {
    visibility: visible !important; 
}